In [14]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pravi\anaconda3\lib\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector

In [16]:
mydb = mysql.connector.connect(host = "localhost", user = "root", password = "Root@123")

In [17]:
mycur = mydb.cursor()

In [19]:
mycur.execute("SHOW DATABASES")
databases = mycur.fetchall()

for db in databases:
    print(db[0])
#mycur.close()
mycur.close()
mydb.close()

information_schema
knowitdb
mysql
olatech
performance_schema
sys
timepass
triggers
windows

# new conncetiona and new everything

In [13]:
import mysql.connector

In [14]:
mydb = mysql.connector.connect(host = 'localhost',user = 'root',password = 'Root@123')

In [15]:
mycursor = mydb.cursor()

In [16]:
mycursor.execute("SHOW DATABASES")
databases = mycursor.fetchall()

for db in databases:
    print(db[0])

information_schema
knowitdb
mysql
olatech
performance_schema
sys
timepass
triggers
windows

# 1 create table student

In [17]:
mycursor.execute("USE knowitdb")
mycursor.execute("""CREATE TABLE IF NOT EXISTS student(
    ID INT  AUTO_INCREMENT PRIMARY KEY,
    name varchar(50),
    age INT)
    """)

In [18]:
mycursor.execute("""ALTER table student
                    drop column age""")

 * added new column marks and removed the column age..

In [19]:
mycursor.execute("""ALTER TABLE student 
                    ADD marks decimal(10,2)""")

In [20]:
mycursor.execute("""describe student""")
result = mycursor.fetchall()

for row in result:
    print(row)

('ID', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(50)', 'YES', '', None, '')
('marks', 'decimal(10,2)', 'YES', '', None, '')

# 2. insert the following valus in the following column

In [21]:
mycursor.execute("""INSERT INTO student(name,marks)
                    values('ruturaj',45.67),
                    ('rama',67.80),
                    ('viduala',87.20),
                    ('ritika',81.34),
                    ('kartik',35.00)                    
                    """)

 File autosaving in interval of 10 seconds

In [22]:
%autosave 10

Autosaving every 10 seconds

In [23]:
mydb.commit()

# 3. modify rams marks to 78

In [24]:
mycursor.execute("""UPDATE student
                    set marks = 78
                    WHERE name = 'rama'
                    """")

In [25]:
mydb.commit()

# 4. show all the users in notebook

In [26]:
mycursor.execute("""SELECT * FROM student""")
result = mycursor.fetchall()

for row in result:
    print(row)

(1, 'ruturaj', Decimal('45.67'))
(2, 'rama', Decimal('78.00'))
(3, 'viduala', Decimal('87.20'))
(4, 'ritika', Decimal('81.34'))
(5, 'kartik', Decimal('35.00'))

# 5. student with more than 80% marks

In [31]:
mycursor.execute("""SELECT *
                    FROM student
                    WHERE marks > 80""")

result = mycursor.fetchall()

for row in result:
    print(row)

(3, 'viduala', Decimal('87.20'))
(4, 'ritika', Decimal('81.34'))

# 6. print all the names stariting with the R

In [33]:
mycursor.execute("""SELECT name
                    FROM student
                    WHERE name like 'R%'
                    """)

result = mycursor.fetchall()

for row in result:
    print(row)

('ruturaj',)
('rama',)
('ritika',)

 In this assignment i learned to connect the MYSQL Database using python and how to do changes in MYSQL tables from python ..